<div class="container">
    <ol class="breadcrumb small">
        <li><a href="/education/honors_academy">Honors Academy</a></li>
        <li class="active">Bachelor tracks</li>
    </ol>

    <div class="row">
        <div class="flex flex-between">

            <!-- Sidebar navigation -->
            <!-- <div class="col-xs-12 col-md-2 small">
                <app-menu-tracks class="sticky nav navbar-collapse collapse nav-pad" id="nav-sidebar">
                </app-menu-tracks>
            </div> -->

            <!-- Content -->
            <div class="col-xs-12 col-md-7">
                <h1 class="col-xs-12 col-md-7 center track-title">
                    <a class="btn btn-link navbar-toggle nav-toggle collapsed" type="button" data-toggle="collapse"
                       aria-expanded="false" data-target="#nav-sidebar">
                        <span class="fa fa-bars"></span>
                    </a>
                    Honors for Bachelor students
                </h1>

                <h4>You are in the lead</h4>
                <p> In the track of your choice, you are challenged to take the lead in your own development and in the
                    project you are doing. You get the chance to work together with students from other departments, to meet inspiring
                    coaches, to explore the forefront of knowledge and to meet with people from industry. Dive into your own discipline
                    or explore other disciplines, it’s all up to you!
                </p>

                <h4>Tracks</h4>
                <p> The Honors Academy provides projects in several fields of expertise. Each expertise is further explored
                    in a so-called ‘track’. Below an overview of all tracks of the Honors Academy.
                </p>

                <!-- Imported into the template 'honors_bachelor.html' -->
                <li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/artificial-intelligence">Artificial Intelligence</a></li>
                <li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/competitive-programming-and-problem-solving">Competitive Programming and Problem Solving</a></li>
                <li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/empowerment-for-health-wellbeing">Empowerment for Healthcare and Wellbeing</a></li>
                <li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/energy-transition">Energy Transition</a></li>
                <li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/high-tech-systems">High Tech Systems</a></li>
                <li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/networked-society">Networked Society</a></li>
                <li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/nuclear-fusion-power-for-the-netherlands">Nuclear Fusion Power for the Netherlands</a></li>
                <li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/radio-astronomy">Radio Astronomy</a></li>
                <li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/sensus-organization">SensUs Organization</a></li>
                <li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/smart-cities">Smart Cities</a></li>
                <li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/smart-mobility">Smart Mobility</a></li>

                <h4>Investment and Completion</h4>
                <p> The Honors work will be on top of your regular study in the second and third year of the
                    regular Bachelor Program, and requires a time investment of about 10 hours per week (840
                    hours in total; 30 credits). By the end of the academic year, you will be assessed individually
                    on your personal and professional development, including pointers for aspects you can
                    improve. This is also a moment of reflection on continuing your Honors work or not, in the
                    same track or in another one. After successful assessment you receive 15 credits per Honors
                    year, so at the end you have received 30 credits.
                    Successful completion of both the first and the second year of the Honors Program will be
                    mentioned on your Bachelor Degree diploma at your own department. In addition, you will
                    receive a letter of recommendation together with your Bachelor Degree diploma.
                    If you only complete the first part, you get a certificate and 15 additional credits.
                </p>
            </div>

            <!-- Right sidebar -->
            <div class="col-xs-12 col-md-2 small">
                <div class="sticky nav-pad">
                    <p>
                        <strong>Contact</strong><br>
                        <a href="mailto:honorsacademy@tue.nl">honorsacademy@tue.nl</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>