<div class="container">
    <h1>Student Council</h1>
    <h2>Honors Bachelor Program</h2>
    <p>The Student Council consists of students from every track. Together, they will represent the interests of honors
        students in meetings with the Honors Academy. By being up to date about the progress in their tracks, they can help
        evaluate the quality of the Honors projects to safeguard excellence.</p>
    <h3>Purpose of the Student Council</h3>
    <p>The Student Council is there to improve your Honors experiences within the track. The main
        goal of the council is to provide ideas and feedback to the Honors Academy with which
        Honors Academy can optimize the Honors Bachelor program.</p>
    <h3>Responsibilities Student Council member</h3>
    <p>Being a member of the Student Council includes the following responsibilities:</p>
    <ul>
        <li>To provide ideas and feedback to the Honors Academy</li>
        <li>To act as a representative for all students in a track (not only the members' own personal opinions and issues)</li>
        <li>To make sure that the appropriate escalation ladder is followed before discussing
            something in the Student Council meeting. Problems in a track should first be
            discussed with the students' coach. If that is not possible or does not work, then it
            should be discussed with the track coordinator. If that is also not possible or does not
            work, then the Honors Academy can be contacted, and the problem can be raised in
            the Student Council. Of course, track ascending problems or ideas can be put forward
            directly in the Student Council.
        </li>
    </ul>
    <h3>Tasks of Student Council member</h3>
    <ul>
        <li>Preparing Student Council meetings by discussing the preparation questions with
            fellow track students and collecting and screening input for the agenda</li>
        <li>Send input/discussion points for the agenda</li>
        <li>Attending six Student Council meetings</li>
        <li>Active participation in Student Council meetings</li>
        <li>Reading the minutes of the meeting and providing feedback (if applicable)</li>
        <li>On occasion: perform action points discussed in Student Council meetings</li>
        <li>Promotion: raising awareness</li>
    </ul>

    <h3>How to get in touch with the Student Council</h3>
    <p>Feel free to always approach your track representative. They will be able to give you
        advice or discuss your question during the next meeting.
    </p>
    <p>The Student Council currently consists of the following members, each representing a
        different track:
    </p>
    <i>Academic year 2023-2024</i>
    <ul>
        <li>Artificial Intelligence - Simon Sukup</li>
        <li>Competitive Programming and Problem Solving - Ferit Ismailov</li>
        <li>Empowerment for Health and Wellbeing - Jilke Nooijen</li>
        <li>Energy Transition - Frank Schellekens</li>
        <li>High Tech Systems - Nora Baljé</li>
        <li>Networked Society - Igor Dmochowski</li>
        <li>Nuclear Fusion Power for the Netherlands - Victor Vermeulen</li>
        <li>Radio Astronomy - Lea Faris</li>
        <li>SensUs Organization - Vladislav Budiak</li>
        <li>Smart Cities - Agatha Mihalcea Simoiu</li>
        <li>Smart Mobility - Annelies van Vastenhoven</li>
    </ul>

    <h2>Honors Master Program</h2>
    <p>The Honors Master Program also has a Student Council, which functions separately from the Student Council for the Bachelor Program.
        The Student Council for the Master Program convenes twice per academic year, once in Q2 and once in Q4, whenever feasible, with students from both cohorts attending the sessions.
        The agenda is collaboratively determined by the students and the staff. Although the Student Council operates as an informal body, it plays a crucial role in providing advisory input to the Dean of the Honors Academy on matters such as regulations, evaluations, and more. 
        While the council does not possess formal decision-making authority, its recommendations hold significant weight in shaping the direction of the Honors Academy.
    </p>
    <p>The Student Council currently consists of the following members:
    </p>
    <i>Academic year 2023-2024</i>
    <ul>
        <li>Aryan Omkar Ashar</li>
        <li>Akhilesh Aralikatti</li>
        <li>Shubhankar Jadhav</li>
        <li>Pablo Ruiz</li>
        <li>Jia Man (Alexis) Chen</li>
    </ul>
</div>
