
<div class="container">
    <h1>Your way in becoming a Board</h1>
    <div><p style="float: right;"><img src="./assets/img/riddle1.gif" height="500px" width="500px" border="1px"></p>
        
        <div class="relative">

        <h2><u>You got somewhere!</u></h2> 
        
        <h4>Sadly you’re not there yet. This is not the order you are looking for.</h4> 
        <h4>A: Commitment is a big thing, some take longer than others…</h4>
        <h4>B: Remember when these words were first spoken in this Context. 😉  </h4>
        </div>
</div>