

<div class="container">
    <h1>Your way in becoming a Board</h1>
    <div><p style="float: left;"><img src="./assets/img/riddle2.gif" height="350px" width="500px" border="1px"></p>
        
        <div class="relative">

        <h2><u>Congratulations!</u></h2> 
        
        <h4>After all these riddles you must be quite worn out,</h4> 
        <h4>you deserve a break, you don’t want a burnout.</h4>
        <h4>Go get a coffee together, black,</h4>
        <h4>Where next year you’ll hang your plaque.</h4>
        </div>
</div>