<div class="container">
    <h1>TU/e Honors Academy</h1>
    <p>Do you like challenges? Would you like to do scientific
        research or solve societal problems? Would you like to make a giant leap forward in your professional as well as personal
        development? Would you like to build a professional network? Or is entering a prestigious Master abroad your ultimate dream? Then joining the TU/e
        Honors Academy might be just the thing for you. </p>
        
    <p>The TU/e Honors Academy offers a varied choice of tracks for Bachelor students, and Honors programs for Master students. The overall goal is to prepare
        you for personal leadership as well as scientific, societal and/or industrial leadership in a society that is
        affected exponentially by changes and developments.</p>
    <h2>Bachelor & Master</h2>
    <p>The Honors Academy provides unique projects and challenges for both Bachelor students as well as Master students.
        Click below for more information on the set up of the Honors Academy. Also check the official <a
            href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/">site</a> of the Honors
        Academy, as well as their <a href="https://instagram.com/tue_honorsacademy">Instagram</a> and <a href="https://www.linkedin.com/school/tue-honors-academy/">LinkedIn</a> pages.</p>
    <p>The Honors Academy works together with a Student Council to improve the overall education and activities of the
        Honors Academy. If you want to learn more about how they do this or who is part of the Student Council, then you
        can click <a href="/education/student_council">here</a>.</p>

    <div class="row HA-col-container" style="padding-top: 5px">
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail HA-col">
                <img src="./assets/img/bachelorLabel.jpg" alt="..." style="object-fit: cover; height: 300px">
                <div class="caption">
                    <h3>Honors Bachelor Program</h3>
                    <p>Bachelor students can work in projects in various Honors tracks, addressing major societal and scientific questions and challenges. Examples of these themes include:
                        "How do we get people to take responsibility for their own health and wellbeing?"
                        "Energy transition, a major challenge for our own environment?",
                        "What new opportunities arise when the merger of the internet, mobility and traffic grows
                        stronger and stronger?"</p>
                </div>
                <div class="button-holder">
                    <a href="/education/honors_bachelor"
                       class="btn btn-primary HA-button"
                       role="button">Honors Bachelor Program</a>
                </div>
            </div>
        </div>
        <div class="mobileshow">
            <hr/>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail HA-col">
                <img src="./assets/img/masterLabel.jpg" alt="..." style="object-fit: cover; height: 300px">
                <div class="caption">
                    <h3>Honors Master Program</h3>
                    <p>The Graduate School has developed an exciting honors program for curious, talented, and open-minded Master students. By
                        joining the Honors Academy in the Graduate School you will get the chance to explore and enhance
                        your personal leadership skills in a professional context. You can opt for a focus on
                        ‘leadership in science’, ‘leadership in society’ or ‘leadership in industry’. Within this focus you can
                        put a personal emphasis, for example on research, design, entrepreneurship and more!</p>
                </div>
                <div class="button-holder">
                    <a href="/education/honors_master"
                       class="btn btn-primary HA-button"
                       role="button">Honors Master Program</a>
                </div>
            </div>
        </div>
    </div>
</div>