<!-- Imported into the template 'honors_bachelor.html' -->
<li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/artificial-intelligence">Artificial Intelligence</a></li>
<li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/competitive-programming-and-problem-solving">Competitive Programming and Problem Solving</a></li>
<li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/empowerment-for-health-wellbeing">Empowerment for Healthcare and Wellbeing</a></li>
<li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/energy-transition">Energy Transition</a></li>
<li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/high-tech-systems">High Tech Systems</a></li>
<li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/networked-society">Networked Society</a></li>
<li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/nuclear-fusion-power-for-the-netherlands">Nuclear Fusion Power for the Netherlands</a></li>
<li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/radio-astronomy">Radio Astronomy</a></li>
<li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/sensus-organization">SensUs Organization</a></li>
<li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/smart-cities">Smart Cities</a></li>
<li><a href="https://studiegids.tue.nl/opleidingen/tue-honors-academy/bachelor-students/honors-tracks/smart-mobility">Smart Mobility</a></li>
